<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<h3 style="text-align:center">Admin Home</h3>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1" cellspacing="1" cellpadding="1" align="center">
    <tr>
      <th scope="row"><a href="/admin_view_registered_worker">view registered worker</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/admin_view_approved_worker">view approved worker</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/admin_view_rejected_worker">view rejected worker</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/admin_view_registered_user">view registered user</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/admin_view_compliant">view complaint</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/admin_view_rating_review">view rating and review</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/admin_change_password">change password</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/admin_add_category">category add</a></th>
    </tr>
      <tr>
      <th scope="row"><a href="/admin_category_view">category view</a></th>
    </tr>
  </table>
</form>
</body>
</html>
